body,td,th {
	/*font-family: Lucida Console, Monaco, monospace;*/
	color: #FFF;
	/*font-size: 13px;
	line-height: 14px;*/
	
}
body {
	background-color: #000;
}
a {
	font-weight: bold;
	color: #FF0;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.tiny {
	font-size: 10px;
	color: #CCC;
}
.promo {
	font-weight: bold;
	color: #0FF;
}
pre {
	font-size: 12px;
	margin-left: 20px;
	color: #0FF;
	background-color: #2e2e2e;
	border-color: #555555;
}
.image{
	text-align: center;

}

.image img{
	max-width: 90%;
	height:auto;
}
.output {
	color: #0F0;
}

.navbar-brand{
	padding-top:8px;
	padding-bottom:0px;
}

.tutnav{
	padding:5px 0 20px 0;
}

.fppic{
	margin:0 0 15px 20px;
}