body,td,th{font-family:LucidaConsole,Monaco,monospace;color:#FFF;font-size:13px;line-height:14px;margin:0;padding:0
10px}body{background-color:#000}a{font-weight:bold;color:#FF0;text-decoration:none}.tiny{font-size:10px;color:#CCC}.promo{font-weight:bold;color:#0FF}pre{font-size:12px;margin-left:20px;color:#0FF}.output{color:#0F0}h1{padding:5px
0px;margin-left:-10px;font-size:18px;line-height:19px}.content{margin:10px
auto;width:90%}.image{text-align:center;margin:5px
auto}.image
img{max-width:100%;height:auto}.header{padding:10px
0;margin:0
0 15px 0;clear:both;width:100%;background-color:#000}.footer{text-align:center;width:100%;background-color:#000;padding:20px
0;margin:20px
0}.footer
.small{font-size:12px}
